<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.minumobat">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MinumObat">

        <activity
            android:name=".ui.activity.detail_schedule.DetailScheduleActivity"
            android:exported="true" />
        <activity
            android:launchMode="singleTop"
            android:showOnLockScreen="true"
            android:name=".ui.activity.schedule_page.SchedulePageActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.activity.notification_splash.NotificationSplashActivity"
            android:exported="true" />

        <receiver
            android:name=".service.AppReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="20">
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.DATE_CHANGED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
                <action android:name="action.restart.service" />
            </intent-filter>
        </receiver>

        <service
            android:name=".service.NotifService"
            android:enabled="true"
            android:exported="true"
            android:process=":notif_process" />

        <activity
            android:name=".ui.activity.home.HomeActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>

</manifest>